html, body {
    margin:0;
    padding: 0;
}

body {
    color: white;
}

#red {
  background-color:red;
  grid-area: red;
}
#orange{
  background-color:orange;
  grid-area: orange;
}
#yellow{
  background-color:yellow;
  grid-area: yellow;
}
#green{
  background-color:green;
  grid-area: green;
}
#blue{
  background-color:blue;
  grid-area: blue;
}
#indigo{
  background-color:indigo;
  grid-area:indigo;
}
#violet{
  background-color: violet; 
  grid-area: violet;

}
#black {
  background-color:black;
  grid-area: black;
}

.grid-container div {
    text-align:center;
    border: 2px solid black;
    display: grid;
    align-items: center;
}
 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  grid-template-areas: 
  "red    red    orange yellow"
  "green  green  green  blue"
  "indigo indigo violet violet"
  "black  black  black  black";
  width: 100vw;
  height: 100vh;
}

@media screen and (width > 700px) {
  #indigo {
    text-decoration: line-through;
    background-color: coral;
    color:red;
  }
}

/* Phone size */
@media screen and (width <= 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "red blue"
    "green yellow"
    "violet black";
  }

#orange {
  display: none;
}
#indigo {
  display: none;
}
}


/* Tablet size */
@media screen and (500px < width < 700px) {
  #violet {
    text-decoration: underline;
    background-color: teal;
  }
  .grid-container {
    grid-template-areas: 
    "red red red red"
    "green green green blue"
    "indigo indigo violet violet"
    "orange orange yellow yellow"
    "black black orange yellow";
  }

}

/* Desktop size */
@media screen and (width > 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "red red red red orange"
    "green green green blue orange"
    "indigo indigo violet violet yellow"
    "black black black black yellow";
  }
}